<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="AsystyouUrl" value="asystyou.com" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="BaseUrl" value="https://dev.AsystYou.com:8081/" />
    <add key="ImageBaseUrl" value="https://dev.asystyou.com/Images" />
    <add key="LegalUrl" value="https://dev.asystyou.com/Privacy/Index#/Legal" />
    <add key="FaqUrl" value="https://dev.asystyou.com/mobile/faq" />
    <add key="ContactUrl" value="https://dev.asystyou.com/mobile/contact" />
    <add key="PrivacyPolicyUrl" value="https://dev.asystyou.com/mobile/PrivacyPolicy" />
    <add key="TermsUrl" value="https://dev.asystyou.com/mobile/TermsAndCondition" />
    <add key="ServciesUrl" value="https://dev.asystyou.com/mobile/services?zip=" />
    <add key="ForgotPasswordUrl" value="https://dev.asystyou.com/Account/ForgotPassword" />

    <!--<add key="BaseUrl" value="https://testapi.asystyou.com:8092/" />
    <add key="ImageBaseUrl" value="https://test.asystyou.com/Images" />
    <add key="LegalUrl" value="https://test.asystyou.com/Privacy/Index#/Legal" />
    <add key="FaqUrl" value="https://test.asystyou.com/mobile/faq" />
    <add key="ContactUrl" value="https://test.asystyou.com/mobile/contact" />
    <add key="PrivacyPolicyUrl" value="https://test.asystyou.com/mobile/PrivacyPolicy" />
    <add key="TermsUrl" value="https://test.asystyou.com/mobile/TermsAndCondition" />
    <add key="ServciesUrl" value="https://test.asystyou.com/mobile/services?zip=" />
    <add key="ForgotPasswordUrl" value="https://test.asystyou.com/Account/ForgotPassword" />-->

    <!--<add key="BaseUrl" value="https://stageapi.asystyou.com:8090/" />
    <add key="ImageBaseUrl" value="https://stage.asystyou.com/Images" />
    <add key="LegalUrl" value="https://stage.asystyou.com/Privacy/Index#/Legal" />
    <add key="FaqUrl" value="https://stage.asystyou.com/mobile/faq" />
    <add key="ContactUrl" value="https://stage.asystyou.com/mobile/contact" />
    <add key="PrivacyPolicyUrl" value="https://stage.asystyou.com/mobile/PrivacyPolicy" />
    <add key="TermsUrl" value="https://stage.asystyou.com/mobile/TermsAndCondition" />
    <add key="ServciesUrl" value="https://stage.asystyou.com/mobile/services?zip=" />
    <add key="ForgotPasswordUrl" value="https://stage.asystyou.com/Account/ForgotPassword" />-->

    <!--<add key="BaseUrl" value="https://api.asystyou.com:8081/" />
    <add key="ImageBaseUrl" value="https://asystyou.com/Images" />
    <add key="LegalUrl" value="https://asystyou.com/Privacy/Index#/Legal" />
    <add key="FaqUrl" value="https://asystyou.com/mobile/faq" />
    <add key="ContactUrl" value="https://asystyou.com/mobile/contact" />
    <add key="PrivacyPolicyUrl" value="https://asystyou.com/mobile/PrivacyPolicy" />
    <add key="TermsUrl" value="https://asystyou.com/mobile/TermsAndCondition" />
    <add key="ServciesUrl" value="https://asystyou.com/mobile/services?zip=" />
    <add key="ForgotPasswordUrl" value="https://asystyou.com/Account/ForgotPassword" />-->
		
    <add key="secret" value="CMA_87418400-0C0D-43CF-A6A9-F9827C96A03A" />
    <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="ColonyConciergeWeb" />
    <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
    <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
	<!--Prod key-->
	<add key="PlacesApiKey" value="AIzaSyBM3FjPnHZLact9nHSSvgQp3C02Wgwkb5U" />
	<!--Thinh key-->
    <!--<add key="PlacesApiKey" value="AIzaSyCkG_aiUcOM5A1Zb7Zv-fKh4jQahvaOqSI" />-->
    <!--Customer key   
    <add key="PlacesApiKey" value="AIzaSyAACUw0XT8d-ShgwiXu-mtlSOF6xxTozoc" />
	-->
		
		
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="XLabs.Serialization" publicKeyToken="D65109B36E5040E4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.5782.15703" newVersion="2.0.5782.15703" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="XLabs.Serialization" publicKeyToken="d65109b36e5040e4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5782.15703" newVersion="2.0.5782.15703" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
