<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>720055671809-eq9ulolj0uh6evdk0nq9a8t5kkg962ui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720055671809-eq9ulolj0uh6evdk0nq9a8t5kkg962ui</string>
	<key>API_KEY</key>
	<string>AIzaSyAE695wrSfLzuq_AHQLLzFSgjxjSSe6CFA</string>
	<key>GCM_SENDER_ID</key>
	<string>720055671809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.colonyconcierge.asystyou.ios</string>
	<key>PROJECT_ID</key>
	<string>asystyou-cc687</string>
	<key>STORAGE_BUCKET</key>
	<string>asystyou-cc687.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:720055671809:ios:ae1597ea182ee1a5</string>
	<key>DATABASE_URL</key>
	<string>https://asystyou-cc687.firebaseio.com</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
</dict>
</plist>
